In [2]:
import pandas as pd
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier

In [3]:
train_df = pd.read_csv("./train_preprocessed.csv")
test_df = pd.read_csv('./test_preprocessed.csv')

In [4]:
X_train = train_df.drop("Survived", axis=1)
Y_train = train_df["Survived"]
X_test = test_df.drop("PassengerId", axis=1).copy()
print(train_df[train_df.isnull().any(axis=1)])

Empty DataFrame
Columns: [Survived, Pclass, Sex, Age, Fare, Embarked]
Index: []

In [5]:
train_df[['Sex', 'Survived']].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Sex  Survived
1    1  0.742038
0    0  0.188908